.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 50px;
  .card {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      height: 200px;
    }
  }
}
